<html>
	<head>
		<style>
		body {
			background: <%= background_color %>;
		}
		</style>
	</head>
	<body>
		<p>
			<%= message %><br>
			<br>
			You have <%= guesses_remaining %> guesses remaining!
		</p>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
	</body>
</html>